<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单管理</title>
    <!-- <link href="https://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../../static/bootstrap/css/icon_bootstrap.css" th:href="@{/bootstrap/css/icon_bootstrap.css}">
    <link rel="stylesheet" href="../../../static/css/material-icons.css" th:href="@{/css/material-icons.css}">
    <link rel="stylesheet" href="../../../static/css/new_style.css" th:href="@{/css/new_style.css}">
    <link rel="stylesheet" href="../../../static/css/sort.css" th:href="@{/css/sort.css}">
    <link rel="stylesheet" href="../../../static/css/new_css/form.css" th:href="@{/css/new_css/form.css}">
    <link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}">
    <link rel="stylesheet" href="../../../static/bootstrap/bootstrapTreeview/css/bootstrap-treeview.css" th:href="@{/bootstrap/bootstrapTreeview/css/bootstrap-treeview.css}">

    <script src="../js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script src="../../../static/bootstrap/js/jquery.slim.min.js" th:src="@{/bootstrap/js/jquery.slim.min.js}"></script>
    <script src="../../../static/bootstrap/js/jquery.slim.min.js" th:src="@{/js/admin/showForm.js}"></script>
    <script src="../plugins/jQuery/jquery-2.2.3.min.js" th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
    <script src="../../../static/bootstrap/js/popper.min.js" th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script src="../../../static/bootstrap/js/popper.min.js" th:src="@{/js/admin/saveForm.js}"></script>
    <script src="../../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../../../static/bootstrap/bootstrapTreeview/js/bootstrap-treeview.js" th:src="@{/bootstrap/bootstrapTreeview/js/bootstrap-treeview.js}"></script>
</head>
<body>
<div th:replace="admin/new_web/navigation_bar::top2"></div>
    <section class="p_f">
        <nav class="navbar navbar-expand-lg navbar-light bg_style_back">
            <div th:replace="admin/new_web/navigation_bar::top1"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse m_r_1rem" id="navbarSupportedContent">
                <div th:replace="admin/new_web/navigation_bar::top3"></div>
                <form action="/search/searchAll" class="form-inline my-2 my-lg-0">
                    <input hidden="hidden" type="text" name="type" value="form_all">
                    <input hidden="hidden" type="text" name="shape" value="3">
                    <input name="keyword" th:value="${keyword}" class="form-control mr-sm-2" type="search" placeholder="请输入..." aria-label="Search">
                    <button type="submit" class="btn btn-outline-light my-2 my-sm-0">搜索</button>
                </form>
            </div>
            <button type="button" class="btn btn-outline-light my-2 my-sm-0" onclick="window.location.href='/logout'">注销</button>

        </nav>
    </section>
    <div class="enroo_main p_r no_left_list">
        <nav aria-label="breadcrumb" class="breadcrumb_nav">
            <ol class="breadcrumb breadcrumb_ol">
                <li class="breadcrumb-item">表单</li>
                <li class="breadcrumb-item active" aria-current="page">所有表单</li>
            </ol>
        </nav>
        <hr>
        <table class="table table-bordered article_review_table form_table">
            <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">表单名称</th>
                    <th scope="col">表单状态</th>
                    <th scope="col">提交时间</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="form,formStart:${formPage?.items}">
                    <td th:text="${formStart?.count}">Mark</td>
                    <th scope="row">
                        <input type="text" th:value="${form?.name}">
                    </th>
                    <td  th:text="${form?.shape == 0}?'未处理':''" th:hidden="${form?.shape != 0}">Mark</td>
                    <td th:text="${form?.shape == 1}?'已处理':''" th:hidden="${form?.shape != 1}">Mark</td>
                    <td th:text="${form?.shape == 2}?'异常':''" th:hidden="${form?.shape != 2}">Mark</td>
                    <td th:text="${#strings.substring(form?.createTime,0,10)}">Mark</td>
                    <td class="table_fun">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal" th:onclick="'javascript:showForm(\''+${form?.id}+'\');'">查看</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#" th:href="${keyword}?|?page=1&keyword=${keyword}&type=${type}|:(${id}?|?page=1&id=${id}|:|?page=1&status=0&shape=3|)">首页</a></li>

                <li class="page-item">
                <a class="page-link" href="?page=1" th:href="${keyword}?|?page=${formPage?.getPre()}&keyword=${keyword}&type=${type}|:|?page=${formPage?.getPre()}&status=0&shape=3|" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
                </li>
                <li class="page-item" th:class="${page == formPage?.getPage()}?'page-item active':'page-item'" th:each="page:${formPage?.getPages()}"><a class="page-link" href="?page=1" th:href="${keyword}?|?page=${page}&keyword=${keyword}&type=${type}|:|?page=${page}&status=0&shape=3|">[[${page}]]</a></li>
                <li class="page-item">
                <a class="page-link" th:href="${keyword}?|?page=${formPage?.getNext()}&keyword=${keyword}&type=${type}|:|?page=${formPage?.getNext()}&status=0&shape=3|" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link" href="#" th:href="${keyword}?|?page=${formPage?.pagecount}&keyword=${keyword}&type=${type}|:(${id}?|?page=${formPage?.pagecount}|:|?page=${formPage?.pagecount}&status=0&shape=3|)">尾页</a></li>
            </ul>
            <span class="pageInfoDetail">当前第[[${formPage?.page}]]/[[${formPage?.pagecount}]]页  共[[${formPage?.totalcount}]]条记录 每页[[${formPage?.pagesize}]]条</span>
        </nav>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">内容</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="removeForm1">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered article_review_table">
                        <thead>
                        <tr>
                            <th scope="col">表单项名称</th>
                            <th scope="col">表单项结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr hidden="hidden" id="showForm"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="removeForm">关闭</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>