<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>enroo - 修改密码</title>

    <link rel="stylesheet" href="../../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../../static/bootstrap/css/icon_bootstrap.css" th:href="@{/bootstrap/css/icon_bootstrap.css}">
    <link rel="stylesheet" href="../../../static/css/material-icons.css" th:href="@{/css/material-icons.css}">
    <link rel="stylesheet" href="../../../static/css/new_style.css" th:href="@{/css/new_style.css}">
    <link rel="stylesheet" href="../../../static/css/file_management.css" th:href="@{/css/file_management.css}">
    <link rel="stylesheet" href="../../../static/css/model_form.css" th:href="@{/css/model_form.css}">
    <link rel="stylesheet" href="image_admin.css" th:href="@{/css/image_admin.css}">
    <link rel="stylesheet" href="../../../static/bootstrap/bootstrapTreeview/css/bootstrap-treeview.css" th:href="@{/bootstrap/bootstrapTreeview/css/bootstrap-treeview.css}">
    <link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}">


    <script src="../../../static/bootstrap/js/jquery.slim.min.js" th:src="@{/bootstrap/js/jquery.slim.min.js}"></script>
    <script src="../../../static/bootstrap/js/popper.min.js" th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script src="../../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../../../static/bootstrap/bootstrapTreeview/js/bootstrap-treeview.js" th:src="@{/bootstrap/bootstrapTreeview/js/bootstrap-treeview.js}"></script>
    <script src="../../../static/js/image_admin.js" th:src="@{/js/image_admin.js}"></script>
    <script src="../../../static/js/image_admin.js" th:src="@{/js/blog/changePassword.js}"></script>
    <script src="iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>


</head>

<body>
<div th:replace="admin/new_web/navigation_bar::top2"></div>

    <section class="p_f">
        <nav class="navbar navbar-expand-lg navbar-light bg_style_back">
            <div th:replace="admin/new_web/navigation_bar::top1"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse m_r_1rem" id="navbarSupportedContent">
                <div th:replace="admin/new_web/navigation_bar::top3"></div>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="请输入..." aria-label="Search">
                    <button type="button" class="btn btn-outline-light my-2 my-sm-0">搜索</button>
                </form>
            </div>
            <button type="button" class="btn btn-outline-light my-2 my-sm-0" onclick="window.location.href='/logout'">注销</button>

        </nav>
    </section>
    <div class="enroo_main no_left_list">
        <nav aria-label="breadcrumb" class="breadcrumb_nav">
            <ol class="breadcrumb breadcrumb_ol">
                <li class="breadcrumb-item">通用</li>
                <!--<li class="breadcrumb-item"><a href="#">Library</a></li>-->
                <li class="breadcrumb-item active" aria-current="page">修改密码</li>
            </ol>
        </nav>
        <div class="file_container model_tab">
            <div id="list-example" class="df_center">
                <a class="none_active_tab list_tab_link" href="#list-item-1">修改密码</a>
            </div>
            <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example tab_nav_div from_input_respass">
                <form id="changeForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">原密码</label>
                        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="请输入您的原密码..."  name="oldPassword">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                        <label id="oldPassword" style="color: red;font-size: 14px;font-weight: bold;padding-bottom: 2px;"></label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">新密码</label>
                        <input type="password" class="form-control" name="newPassword" id="exampleInputPassword1" placeholder="请输入您的新密码...">
                        <label id="newPassword" style="color: red;font-size: 14px;font-weight: bold;padding-bottom: 2px;"></label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">确认新密码</label>
                        <input type="password" class="form-control" name="confirmPassword"  id="exampleInputPassword1" placeholder="请在此确认您的新密码...">
                        <label id="confirmPassword" style="color: red;font-size: 14px;font-weight: bold;padding-bottom: 2px;"></label>
                    </div>
                    <div class="btn_from">
                        <button type="button" onclick="changePassword()" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>