<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="description" content="英瑞恩科技有限公司" />
    <title>about_development</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/tab/style.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/enroo_about.css">
    <link rel="stylesheet" href="css/enroo_about_culture.css">
    <link rel="stylesheet" href="dist/autocomplete.css">
    <!--<link rel="stylesheet" href="dist/style.css">-->
    <link rel="stylesheet" href="css/media.css">
    <!-- <link rel="stylesheet" href="css/zy.css"> -->
</head>

<body>
    <section class="enroo_p_f p_f_0">
        <section class="enroo_top">
            <div class="container new_container">
                <div class="row a-center flex_header">
                    <div class="d_f left_header">
                        <div class="logo">
                            <a href="#">
                                <img src="images/logo2.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="right_header">
                        <div class="right_div_2">
                            <div class="input_search">
                                <div id="search-form"></div>
                                <a href="#" class="full_icon_search">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                            <div class="call_me">
                                <span>咨询热线：</span>
                                <span>4007-888-234</span>
                            </div>
                        </div>
                        <div class="right_div_1">
                            <div class="enroo_lan_div">
                                <a href="">阿里巴巴商铺</a>
                                <div>
                                    <a href="">中文</a>
                                    <span> | </span>
                                    <a href="">English</a>
                                </div>
                            </div>
                            <div class="enroo_keyword">
                                <div>单片机集成方案全方位解决服务商</div>
                                <div>优质智能电子产品"芯"方案提供商</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="enroo_nav">
            <div class="container new_container padd_0 navber_btn_height">
                <nav class="navbar navbar-expand-lg navbar-light flex_end">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-icons">reorder</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto kx-nav-flex">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link">网站首页</a>
                            </li>
                            <li class="nav-item actives">
                                <a class="nav-link" href="abouts_c.html">关于我们</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="abouts_c.html">企业简介</a>
                                        </li>
                                        <li>
                                            <a href="about_culture.html">企业文化</a>
                                        </li>
                                        <li>
                                            <a href="about_development.html">发展历程</a>
                                        </li>
                                        <li>
                                            <a href="about_organization.html">组织架构</a>
                                        </li>
                                    </ul>
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">荣誉资质</a>
                                        </li>
                                        <li>
                                            <a href="about_notice.html">企业公告</a>
                                        </li>
                                        <li>
                                            <a href="about_activities.html">员工活动</a>
                                        </li>
                                        <li>
                                            <a href="about_Recruit.html">招贤纳士</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="products.html">产品中心</a>
                                <!--                                <div class="drop_down_list">
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                    </div>-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="solution.html">方案设计</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">行业方案</a>
                                        </li>
                                        <li>
                                            <a href="#">产品应用</a>
                                        </li>
                                        <li>
                                            <a href="#">合作开发</a>
                                        </li>
                                        <li>
                                            <a href="#">公司方案</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="downloads.html">下载中心</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">EN单片机</a>
                                        </li>
                                        <li>
                                            <a href="#">RS放大器</a>
                                        </li>
                                        <li>
                                            <a href="#">方案芯片</a>
                                        </li>
                                        <li>
                                            <a href="#">开发工具</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="support.html">技术支持</a>
                                <!--                                <div class="drop_down_list">
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                    </div>-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="customer_service.html">客户服务</a>
                                <!--                                <div class="drop_down_list">
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                    </div>-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">联系我们</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="contact.html">联系我们</a>
                                        </li>
                                        <li>
                                            <a href="contact_place.html">地理位置</a>
                                        </li>
                                        <li>
                                            <a href="#">在线反馈</a>
                                        </li>
                                        <li>
                                            <a href="contact_join.html">友情链接</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">技术论坛</a>
                                <!--                                <div class="drop_down_list">
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                    </div>-->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </section>


    <section class="about_banner"></section>

    <section class="about_body p_tb_30_80">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="about_tab">
                        <div class="about_tab_title">
                            <small>about us</small>
                            <h2>关于我们</h2>
                        </div>
                        <div class="about_content_nav">
                            <ul class="about_content_ul ul_link_li">
                                <li class="active">
                                    <div class="square"></div>
                                    <a href="#">企业简介</a>
                                </li>
                                <li>
                                    <div class="square"></div>
                                    <a href="#">企业文化</a>
                                </li>
                                <li>
                                    <div class="square"></div>
                                    <a href="#">发展历程</a>
                                </li>
                                <li>
                                    <div class="square"></div>
                                    <a href="#">组织架构</a>
                                </li>
                                <li>
                                    <div class="square"></div>
                                    <a href="#">荣誉资质</a>
                                </li>
                                <li>
                                    <div class="square"></div>
                                    <a href="javascript:void()" data-new>企业公告</a>
                                    <!-- <div class="slider_down_text" style="display: none;">
                                                新闻中心
                                            </div> -->
                                    <ul class="about_content_ul color_silver small_ul_m">
                                        <li class="content_link">
                                            <a href="about_consultation.html">原厂咨询</a>
                                        </li>
                                        <li class="content_link ">
                                            <a href="#">新品推广</a>
                                        </li>
                                        <li class="content_link">
                                            <a href="#">活动培训</a>
                                        </li>
                                        <li class="content_link">
                                            <a href="#">业界动态</a>
                                        </li>
                                        <li class="content_link">
                                            <a href="#">公司新闻</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="square"></div>
                                    <a href="#">员工活动</a>
                                </li>
                                <li>
                                    <div class="square"></div>
                                    <a href="#">招贤纳士</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="direction_about">
                        <div class="direction_small">
                            <div class="img_dir">
                                <img src="images/关于我们3_03.png" alt="">
                                <p>设计开发</p>
                            </div>
                            <div class="dir_content">
                                <p>专业承接各类电子产品设计与开发硬件设计，主芯片编程等</p>
                            </div>
                        </div>
                        <div class="direction_small">
                            <div class="img_dir">
                                <img src="images/关于我们3_07.png" alt="">
                                <p>开发工具</p>
                            </div>
                            <div class="dir_content">
                                <p>助力嵌入式系统应用设计提供工具选择及软件下载</p>
                            </div>
                        </div>
                        <div class="direction_small">
                            <div class="img_dir">
                                <img src="images/关于我们3_11.png" alt="">
                                <p>技术支持</p>
                            </div>
                            <div class="dir_content">
                                <p>强大的技术支持，优质的合作伙伴提供精准的芯片选型指导、技术咨询</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact_about">
                        <div class="contact_small">
                            <i class="material-icons">
                                place
                            </i>
                            <p>中国深圳市龙岗区坂田环城南路坂田国际中心C2栋815</p>
                        </div>
                        <div class="contact_small">
                            <i class="material-icons">
                                phone
                            </i>
                            <p>4007-888-234</p>
                        </div>
                        <div class="contact_small">
                            <i class="material-icons">
                                email
                            </i>
                            <p>enroo@enroo.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="bread">
                        <div class="bread_nav_title">
                            <h4>企业文化</h4>
                        </div>
                        <div class="bread_nav">
                            <ul class="bread_nav_ul">
                                <li class="nav_link_bread">
                                    <a href="#">单片机</a>
                                </li>
                                <li class="nav_link_bread">
                                    <a href="#">企业文化</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="about_content border_e8 p_0">
                        <div class="row">
                            <div class="col-md-4 p_r_5">
                                <div class="about_development">
                                    <img src="images/6.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-8 p_l_5">
                                <div class="development_content">
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                    <div class="history">
                                        <p>
                                            <span>2007年</span>同辉科技（香港）有限公司成立</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="enroo_specialties specialties_footer">
        <div class="container">
            <div class="row a-center">
                <div class="col-md-1 col-sm-12 col-xs-12">
                    <div class="specialties_img">
                        <img src="images/en.png" alt="" class="kx-img-fluid">
                    </div>
                </div>
                <div class="col-md-11 col-sm-12 col-xs-12">
                    <div class="div_box">
                        <div class="box_list">
                            <div>
                                <div class="major">
                                    <div class="transform_50">
                                        <img src="images/z1.png">
                                        <p><a href="javascript:void(0)"> 汽车电子 </a></p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="major">
                                    <div class="transform_50">
                                        <img src="images/z2.png">
                                        <p><a href="javascript:void(0)"> 通讯应用 </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_list">
                            <div>
                                <div class="major">
                                    <div class="transform_50">
                                        <img src="images/z3.png">
                                        <p><a href="javascript:void(0)"> 仪表电源 </a></p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="major">
                                    <div class="transform_50">
                                        <img src="images/z4.png">
                                        <p><a href="javascript:void(0)"> 健美仪器 </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_list">
                            <div>
                                <div class="major">
                                    <div class="transform_50">
                                        <img src="images/z5.png">
                                        <p><a href="javascript:void(0)"> 安防监控 </a></p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="major">
                                    <div class="transform_50">
                                        <img src="images/z6.png">
                                        <p><a href="javascript:void(0)"> 智能家居 </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box_list">
                            <div>
                                <div class="major">
                                    <div class="transform_50">
                                        <img src="images/z7.png">
                                        <p><a href="javascript:void(0)"> 航模工控 </a></p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="major">
                                    <div class="transform_50">
                                        <img src="images/z8.png">
                                        <p><a href="javascript:void(0)"> 照明控制 </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="div_box clearfix">
                        <div class="major_tab">
                            <div class="icon_div">
                                <div class="major">
                                    <div class="transform_50">
                                        <i class="material-icons">
                                            directions_car
                                        </i>
                                        <p>汽车电子</p>
                                    </div>
                                </div>
                            </div>
                            <div class="icon_div">
                                <div class="major">
                                    <div class="transform_50">
                                        <i class="material-icons">
                                            directions_car
                                        </i>
                                        <p>汽车电子</p>
                                    </div>
                                </div>
                            </div>
                            <div class="icon_div">
                                <div class="major">
                                    <div class="transform_50">
                                        <i class="material-icons">
                                            directions_car
                                        </i>
                                        <p>汽车电子</p>
                                    </div>
                                </div>
                            </div>
                            <div class="icon_div p_a_tl_a">
                                <div class="major">
                                    <div class="transform_50">
                                        <i class="material-icons">
                                            directions_car
                                        </i>
                                        <p>汽车电子</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="major_tab p_a">
                            <div class="icon_div d">
                                <div class="major">
                                    <div class="transform_50">
                                        <i class="material-icons">
                                            directions_car
                                        </i>
                                        <p>汽车电子</p>
                                    </div>
                                </div>
                            </div>
                            <div class="icon_div l">
                                <div class="major">
                                    <div class="transform_50">
                                        <i class="material-icons">
                                            directions_car
                                        </i>
                                        <p>汽车电子</p>
                                    </div>
                                </div>
                            </div>
                            <div class="icon_div p_a_b_b">
                                <div class="major">
                                    <div class="transform_50">
                                        <i class="material-icons">
                                            directions_car
                                        </i>
                                        <p>汽车电子</p>
                                    </div>
                                </div>
                            </div>
                            <div class="icon_div p_a_b_c">
                                <div class="major">
                                    <div class="transform_50">
                                        <i class="material-icons">
                                            directions_car
                                        </i>
                                        <p>汽车电子</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>


    <footer class="enroo_footer p_t_80_b_40">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>
                            <a href="#"> 关于我们 </a>
                        </h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">企业介绍</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">员工活动</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">使命价值观</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">荣誉资质</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">招聘职位</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>
                            <a href="#"> 产品中心 </a>
                        </h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">控制类芯片</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">模拟电器件</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">电源类芯片</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">开发工具</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">方案芯片</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>
                            <a href="#"> 新闻中心 </a>
                        </h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">企业公告</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">原厂咨询</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">新品推广</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">活动培训</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">业界动态</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">公司新闻</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>联系我们</h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">联系方式</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">地理位置</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">在线反馈</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 m_t_20 d-f-c">
                    <div class="footer_img text-center">
                        <div class="vrcode_all_div">
                            <div class="vrcode_div">
                                <img src="images/Chat.png" alt="" class="img-fluid">
                                <div class="content_footer">
                                    <p>关注公众号</p>
                                </div>
                            </div>
                            <div>
                                <img src="images/Chat.png" alt="" class="img-fluid">
                                <div class="content_footer">
                                    <p>关注公众号</p>
                                </div>
                            </div>
                        </div>
                        <img src="./images/foot_logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="friendly_link">
                <p>友情链接：
                    <a href="#"> 单片机 </a>
                    <a href="#">　单片机方案开发</a>
                    <a href="#">8位单片机　</a>
                    <a href="#">16位单片机　 </a>
                    <a href="#">深圳单片机开发公司　 </a>
                    <a href="#">单片机厂商 </a>
                    <a href="#">PIC单片机 </a>
                    <a href="#">单片机/处理器技术 </a>
                </p>
                <hr>
                <p>© 2008-2018 深圳市英锐恩科技有限公司 版权所有 粤ICP备09008620号</p>
            </div>
        </div>
    </footer>

    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="css/tab/jjs_jquery-1.10.2.min.js"></script>
    <script src="css/tab/jjs_menu_min.js"></script>
    <script type="text/javascript" src="dist/autocomplete.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".menu ul li").menu();
        });
    </script>
    <script type="text/javascript">
        var proposals = ['百度1', '百度2', '百度3', '百度4', '百度5', '百度6', '百度7', '呵呵呵呵呵呵呵', '百度', '新浪', 'a1', 'a2', 'a3', 'a4',
            'b1', 'b2', 'b3', 'b4', '?????'
        ];
        $(document).ready(function () {
            $('#search-form').autocomplete({
                hints: proposals,
                width: 300,
                height: 30,
                placeholder: "全站搜索 / 产品搜索"
                // onSubmit: function (text) {
                //     $('#message').html('Selected: <b>' + text + '</b>');
                // }
            });
        });
    </script>
</body>

</html>