<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" th:if="${id == null && keywords == ''}" content="HTML, CSS, JavaScript" />
    <meta name="keywords" th:if="${id == null && keywords != ''}" th:content="${keywords}" content="HTML, CSS, JavaScript" />
    <meta name="description" th:if="${id == null && description == ''}" content="英瑞恩科技有限公司" />
    <meta name="description" th:if="${id == null && description != ''}" th:content="${description}" content="英瑞恩科技有限公司" />
    <meta name="keywords" th:if="${id != null && blogDetail?.keywords == ''}" content="HTML, CSS, JavaScript" />
    <meta name="keywords" th:if="${id != null && blogDetail?.keywords != ''}" th:content="${blogDetail?.keywords}"
        content="HTML, CSS, JavaScript" />
    <meta name="description" th:if="${id != null && blogDetail?.description == ''}" content="英瑞恩科技有限公司" />
    <meta name="description" th:if="${id != null && blogDetail?.description != ''}" th:content="${blogDetail?.description}"
        content="英瑞恩科技有限公司" />
    <title th:if="${id == null && title == null}" th:text="|${default_cate?.text}-${customer?.company}|">enroo-新闻中心</title>
    <title th:if="${id == null && title != null}" th:text="|${default_cate?.text}-${customer?.company}-${title}|"></title>
    <title th:if="${id != null && title == null}" th:text="|${blogDetail?.title}-${default_cate?.text}-${customer?.company}|">enroo-新闻中心</title>
    <title th:if="${id != null && title != null}" th:text="|${blogDetail?.title}-${default_cate?.text}-${customer?.company}-${title}|"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/material-icons.css">
    <link rel="stylesheet" href="/css/tab/new_style.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/enroo_about_new.css">
    <link rel="stylesheet" href="/css/about_left.css">
    <link rel="stylesheet" href="/css/download.css">
    <link rel="stylesheet" href="/css/solution.css">
    <link rel="stylesheet" href="/css/support.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--<link rel="stylesheet" hr/ef="css/enroo_about_culture.css">-->
    <link rel="stylesheet" href="/dist/autocomplete.css">
    <!--<link rel="stylesheet" hr/ef="dist/style.css">-->
    <link rel="stylesheet" href="/css/media.css">
    <!-- <link rel="stylesheet" href="css/zy.css"> -->
    <style type="text/css">
        .articleLink {
            color: #6e6e6e
        }
    </style>
</head>

<body>
    <section th:replace="/zh_CN/service::service"></section>
    <section class="enroo_p_f p_f_0 new_nav_inpage">
        <section class="enroo_top">
            <div class="container new_container">
                <div class="row a-center flex_header">
                    <div class="d_f left_header">
                        <div class="logo">
                            <a href="#">
                                <!-- style="width: 472px !important;" -->
                                <img src="/images/Enroologo(CDR)2.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="right_header">
                        <div class="right_div_2">
                            <div class="input_search">
                                <div id="search-form"></div>
                                <a href="#" class="full_icon_search">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                            <div class="call_me">
                                <span>技术热线：</span>
                                <span>4007-888-234</span>
                            </div>
                        </div>
                        <div class="right_div_1">
                            <div class="enroo_lan_div">
                                <div>
                                    <a href="" th:href="@{/(lang='zh_CN')}">中文</a>
                                </div>
                                <div>
                                    <a href="" th:href="@{/(lang='en_US')}">English</a>
                                </div>
                            </div>
                            <!-- <div class="enroo_keyword">
                                    <div>单片机集成方案全方位解决服务商</div>
                                    <div>优质智能电子产品"芯"方案提供商</div>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section th:replace="/zh_CN/fragment::top"></section>
    </section>

    <section class="about_banner carousel_margin_top">
        <div class="container">
            <div class="banner_title">
                <small>about us</small>
                <h2>关于我们</h2>
                <div class="about_banner_p">
                    <p>专业品质</p>
                    <div class="about_circle"></div>
                    <p>创立于2008年深圳</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about_body p_t_30_80">
        <div class="bread_bac">
            <div class="new_Ipage_container">
                <div class="row justify-content-end">
                    <div class="new_md_9">
                        <div class="bread_df">
                            <div class="bread_nav_title">
                                <h4>新闻中心</h4>
                            </div>
                            <div class="bread_nav">
                                <ul class="bread_nav_ul">
                                    <li class="nav_link_bread">
                                        <a href="#" class="go_home"><i class="fa fa-home"></i></a>
                                        <a href="#">新闻中心</a>
                                    </li>
                                    <li class="nav_link_bread">
                                        <a href="#" class="bread_actie" th:text="${default_cate?.text}">企业公告</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new_Ipage_container">
            <div class="row">
                <div class="new_md_3 pa_191">
                    <aside>
                        <section class="met_aside">
                            <div class="new_about_tab_title ">
                                <h2>新闻<br>中心</h2>
                                <div class="new_about_tab_small">
                                    <small>about us</small>
                                </div>
                            </div>
                            <div id="content">
                                <div class="menu">
                                    <ul class="">
                                        <li class="active" th:each="category : ${category2_cate1}" th:class="${category?.id == default_cate?.id || default_cate?.id == null && category?.text =='企业简介' } ? 'active':''">
                                            <a href="#" class="inactive" th:if="${category?.text != '资质荣誉' && category?.text != '员工活动' && category?.text != '招贤纳士'}"
                                                th:text="${category?.text}" th:href="${category?.outlink == null || category?.outlink == ''} ? |@{/abouts_c_new/}${category?.initials(category?.text)}/${key2}| : @{${category?.outlink}}"
                                                th:style="${#lists.isEmpty(category?.nodes)} ? 'background:none !important' : 'background:@{/images/ias_off.png} no-repeat'">企业简介</a>
                                            <a href="#" class="inactive" th:if="${category?.text == '资质荣誉'}" th:text="${category?.text}"
                                                th:href="|@{/about_honor_new/}${category?.initials(category?.text)}/${key2}|"
                                                th:style="${#lists.isEmpty(category?.nodes)} ? 'background:none !important' : 'background:@{/images/ias_off.png} no-repeat'">资质荣誉</a>
                                            <a href="#" class="inactive" th:if="${category?.text == '员工活动'}" th:text="${category?.text}"
                                                th:href="|@{/about_activities_new/}${category?.initials(category?.text)}/${key2}|"
                                                th:style="${#lists.isEmpty(category?.nodes)} ? 'background:none !important' : 'background:@{/images/ias_off.png} no-repeat'">员工活动</a>
                                            <a href="#" class="inactive" th:if="${category?.text == '招贤纳士'}" th:text="${category?.text}"
                                                th:href="|@{/about_Recruit_new/}${category?.initials(category?.text)}/${key2}|"
                                                th:style="${#lists.isEmpty(category?.nodes)} ? 'background:none !important' : 'background:@{/images/ias_off.png} no-repeat'">招贤纳士</a>
                                        </li>

                                        <li >
                                            <a class="inactive" data-new >新闻中心</a>
                                            <ul style="display: block" class="mgl_0_p">
                                                <li class="change_active flex_box_space" th:each="cate : ${category1_cate1}"
                                                     th:class="${cate?.id == default_cate?.id || default_cate?.id == null} ? 'change_active flex_box_space menu_li_active':'change_active flex_box_space'">
                                                    <a th:style="${#lists.isEmpty(category?.nodes)} ? 'background:none !important' : 'background:@{/images/ias_off.png} no-repeat'"
                                                        th:text="${cate?.text}" th:href="${cate?.outlink == '' || cate?.outlink == null} ? |@{/about_notice_new/}${cate?.initials(cate?.text)}/${key1}| : @{${cate?.outlink}}">原厂咨询</a>

                                                    <!--<a th:if="${cate?.text == '企业公告'}" href="about_consultation.html" th:style="${#lists.isEmpty(category?.nodes)} ? 'background:none !important' : 'background:@{/images/ias_off.png} no-repeat'"
                                                        th:text="${cate?.text}" th:href="|@{/about_notice_new/}qygg/${key1}|">原厂咨询</a>-->
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </aside>
                    <div th:replace="zh_CN/new_left::left2"></div>
                    <div th:replace="zh_CN/new_left::left3"></div>
                    <!--<div class="contact_about">
                    <div class="contact_small">
                        <i class="material-icons">
                            place
                        </i>
                        <a href="javascript:void(0)" th:href="@{/contact_place}">中国深圳市龙岗区坂田环城南路坂田国际中心C2栋815</a>
                    </div>
                    <div class="contact_small">
                        <i class="material-icons">
                            phone
                        </i>
                        <a href="javascript:void(0)" th:href="@{/contact}">4007-888-234</a>
                    </div>
                    <div class="contact_small">
                        <i class="material-icons">
                            email
                        </i>
                        <a href="javascript:void(0)" th:href="@{/contact}">enroo@enroo.com</a>
                    </div>
                </div> -->
                </div>
                <div class="about_content about_content_border about_main new_md_9" th:if="${id == null && category1_blog1?.totalcount > 1}">
                    <div class="support_content">
                        <ul>
                            <li th:each="blog : ${category1_blog1?.items}">
                                <a href="about_notice_detail.html" th:text="${blog?.title}" th:href="|@{/about_notice_new}/${cateName}/${key1}/${blog?.id}/${currentPage}|">单片机芯片制程工艺对芯片良率的影响</a>
                                <span th:text="|[${#strings.substring(blog?.createTime,0,10)}]|">[2018-11-03]</span>
                            </li>


                        </ul>
                    </div>
                    <!-- <div class="nav_page">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" th:href="|?page=${category1_blog1?.getPre()}&cid=${cid}&key=${key1}|"> << </a>
                                </li>
                                <li class="page-item actives" th:each="page : ${category1_blog1?.getPages()}" th:class="${page == category1_blog1?.page} ? 'page-item actives' : 'page-item'">
                                    <a class="page-link" href="#" th:text="${page}" th:href="|?page=${page}&cid=${cid}&key=${key1}|" >1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" th:href="|?page=${category1_blog1?.getNext()}&cid=${cid}&key=${key1}|">>></a>
                                </li>
                            </ul>
                        </nav>
                    </div> -->


                    <div class="nav_page">
                        <!-- <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" th:href="|?page=${category2_blog2?.getPre()}&cid=${cid}&key=${key2}|"> &lt;&lt;</a>
                                    </li>
                                    <li class="page-item actives" th:each="page : ${category2_blog2?.getPages()}" th:class="${page == category2_blog2?.page} ? 'page-item actives' : 'page-item'">
                                        <a class="page-link" href="#" th:text="${page}" th:href="|?page=${page}&cid=${cid}&key=${key2}|">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" th:href="|?page=${category2_blog2?.getNext()}&cid=${cid}&key=${key2}|">&gt;&gt;</a>
                                    </li>
                                </ul>
                            </nav> -->
                        <nav class="b4_pagination" aria-label="...">
                            <ul class="pagination pag_new">
                                <li class="page-item pagination_num">
                                    <span class="page-link" th:text="'共' + ${category1_blog1?.pagecount} + '页/' + ${category1_blog1?.totalcount} + '篇'">共2页/23篇</span>
                                </li>
                            </ul>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" th:href="|?page=1|">首页</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" th:href="|?page=${category1_blog1?.getPre()}|">上一页</a>
                                </li>
                                <li class="page-item actives" th:each="page : ${category1_blog1?.getPages()}" th:class="${page == category1_blog1?.page} ? 'page-item actives' : 'page-item'">
                                    <a class="page-link" href="#" th:text="${page}" th:href="|?page=${page}|">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" th:href="|?page=${category1_blog1?.getNext()}|">下一页</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" th:href="|?page=${category1_blog1?.pagecount}|">尾页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>
                <div class="about_content about_content_border about_main new_md_9" th:if="${id == null && category1_blog1?.totalcount == 1}"
                    th:each="blogDetail : ${category1_blog1?.items}">
                    <div class="row">
                        <div class="col-md-12 about_notice_col">
                            <div class="support_detail_title">
                                <h1 th:text="${blogDetail?.title}">EN单片机芯片选型问题—深圳单片机开发方案公司</h1>
                                <div class="display_f">
                                    <!-- <span>点击次数: 57次</span> -->
                                    <span th:text="|更新时间: ${#strings.substring(blogDetail?.createTime,0,10)}|">更新时间:
                                        2018-10-30</span>
                                    <div class="bdsharebuttonbox">
                                        <a href="#" class="bds_more" data-cmd="more"></a>
                                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                        <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                                        <span class="see_count" th:text="|阅读量：${blogDetail?.readCount}|"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="support_detail_body">

                                <p th:utext="${blogDetail?.htmlContent}">
                                    深圳单片机开发方案公司英锐恩解答EN单片机芯片选型问题。英锐恩推出的单片机芯片没必要过度包装，以下是如实的解答。根据深圳单片机开发方案公司英锐恩的总结，客户对单片机芯片自带资源、可扩展资源、功耗、封装、芯片的可延续性及技术的可继承性、开发工具、价格及供货保证、还有技术支持等这是个方面比较在意，下边英锐恩为您解答。
                                </p>
                                <!-- <div class="pagination_enroo">
                                    <div class="pagina_next">
                                        <a th:href="@{/about_notice(ids=${blogDetail?.id},cid=${cid},key=${key1},articleFlag='pre',page=${category1_blog1?.page})}">
                                            上一篇: <span th:text="${preTitle}">深圳单片机</span>
                                        </a>
                                    </div>
                                    <div class="pagina_pre">
                                        <a th:href="@{/about_notice(ids=${blogDetail?.id},cid=${cid},key=${key1},articleFlag='next',page=${category1_blog1?.page})}">
                                            下一篇: <span th:text="${nextTitle}">开发公司</span>
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="about_content about_content_border about_main new_md_9" th:if="${id != null}">
                    <div class="row">
                        <div class="col-md-12 about_notice_col">
                            <div class="support_detail_title">
                                <h1 th:text="${blogDetail?.title}">EN单片机芯片选型问题—深圳单片机开发方案公司</h1>
                                <div class="display_f">
                                    <!-- <span>点击次数: 57次</span> -->
                                    <span th:text="|更新时间: ${#strings.substring(blogDetail?.createTime,0,10)}|">更新时间:
                                        2018-10-30</span>
                                    <div class="bdsharebuttonbox">
                                        <a href="#" class="bds_more" data-cmd="more"></a>
                                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                        <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                                        <span class="see_count" th:text="|阅读量：${blogDetail?.readCount}|"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="support_detail_body">
                                <p th:utext="${blogDetail?.htmlContent}">
                                    深圳单片机开发方案公司英锐恩解答EN单片机芯片选型问题。英锐恩推出的单片机芯片没必要过度包装，以下是如实的解答。根据深圳单片机开发方案公司英锐恩的总结，客户对单片机芯片自带资源、可扩展资源、功耗、封装、芯片的可延续性及技术的可继承性、开发工具、价格及供货保证、还有技术支持等这是个方面比较在意，下边英锐恩为您解答。
                                </p>
                                <div class="pagination_enroo">
                                    <div class="pagina_next">
                                        <a th:href="|@{/about_notice_new}/${cateName}/${key1}/${preTitle}/pre/${currentPage}|">
                                            上一篇: <span th:text="${preTitle}">深圳单片机</span>
                                        </a>
                                    </div>
                                    <div class="pagina_pre">
                                        <a th:href="|@{/about_notice_new}/${cateName}/${key1}/${nextTitle}/next/${currentPage}|">
                                            下一篇: <span th:text="${nextTitle}">开发公司</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="/zh_CN/footer::footer"></footer>

    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/css/tab/jjs_jquery-1.10.2.min.js"></script>
    <script src="/css/tab/jjs_menu_min.js"></script>
    <script type="text/javascript" src="/dist/autocomplete.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/share.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".menu ul li").menu();
        });
    </script>
    <script type="text/javascript">
        var proposals = ['百度1', '百度2', '百度3', '百度4', '百度5', '百度6', '百度7', '呵呵呵呵呵呵呵', '百度', '新浪', 'a1', 'a2', 'a3', 'a4',
            'b1', 'b2', 'b3', 'b4', '?????'
        ];
        $(document).ready(function () {
            $('#search-form').autocomplete({
                hints: proposals,
                width: 300,
                height: 30,
                placeholder: "全站搜索 / 产品搜索"
                // onSubmit: function (text) {
                //     $('#message').html('Selected: <b>' + text + '</b>');
                // }
            });
        });

        $(document).on("click", ".full_icon_search", function () {
            var keyword = $("input[name='query']").val();
            console.log("keyword=" + keyword);
            window.location.href = "/searchAll?keyword="+ keyword +"&type=all";
        });
    </script>

</body>

</html>
