<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="enroo_specialties specialties_footer"  th:fragment="top">
    <div class="container_new">
        <div class="row a-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="footer_title">
                    <h3>专注专业</h3>
                    <span>dedication professional</span>
                </div>
                <div class="specialties_footer_div">
                    <div>
                        <div class="specialties_text_div">
                            <img src="/images/x1.png" alt="">
                            <div>
                                <h4><a href="javscript:void(0)" th:href="@{/solution?key=category1&cid=6be97e08267347c4a0aee7007b611530&ids=2ecb903c57d1452ebb1124a8f5f3302c&page=1}"> 航模工控 </a></h4>
                                <span>Model aircraft industrial control</span>
                            </div>
                        </div>
                        <div class="specialties_text_div">
                            <img src="/images/x2.png" alt="">
                            <div>
                                <h4><a href="javscript:void(0)" th:href="@{/solution?key=category1&cid=6be97e08267347c4a0aee7007b611530&ids=2ecb903c57d1452ebb1124a8f5f3302c&page=1}"> 安防监控 </a></h4>
                                <span>Security monitoring</span>
                            </div>
                        </div>
                        <div class="specialties_text_div">
                            <img src="/images/x3.png" alt="">
                            <div>
                                <h4><a href="javscript:void(0)" th:href="@{/solution?key=category1&cid=6be97e08267347c4a0aee7007b611530&ids=2ecb903c57d1452ebb1124a8f5f3302c&page=1}"> 仪表电源 </a></h4>
                                <span>Instrument power supply</span>
                            </div>
                        </div>
                        <div class="specialties_text_div">
                            <img src="/images/x4.png" alt="">
                            <div>
                                <h4><a href="javscript:void(0)" th:href="@{/solution?key=category1&cid=6be97e08267347c4a0aee7007b611530&ids=2ecb903c57d1452ebb1124a8f5f3302c&page=1}" > 汽车电子 </a></h4>
                                <span>Automotive electronics</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="specialties_text_div">
                            <img src="/images/x5.png" alt="">
                            <div>
                                <h4><a href="javscript:void(0)" th:href="@{/solution?key=category1&cid=6be97e08267347c4a0aee7007b611530&ids=2ecb903c57d1452ebb1124a8f5f3302c&page=1}"> 通讯应用 </a></h4>
                                <span>Communications applications</span>
                            </div>
                        </div>
                        <div class="specialties_text_div">
                            <img src="/images/x6.png" alt="">
                            <div>
                                <h4><a href="javscript:void(0)" th:href="@{/solution?key=category1&cid=6be97e08267347c4a0aee7007b611530&ids=2ecb903c57d1452ebb1124a8f5f3302c&page=1}"> 健美仪器 </a></h4>
                                <span>Fitness equipment</span>
                            </div>
                        </div>
                        <div class="specialties_text_div">
                            <img src="/images/x7.png" alt="">
                            <div>
                                <h4><a href="javscript:void(0)" th:href="@{/solution?key=category1&cid=6be97e08267347c4a0aee7007b611530&ids=2ecb903c57d1452ebb1124a8f5f3302c&page=1}"> 智能家居 </a></h4>
                                <span>Smart home</span>
                            </div>
                        </div>
                        <div class="specialties_text_div">
                            <img src="/images/x8.png" alt="">
                            <div>
                                <h4><a href="javscript:void(0)" th:href="@{/solution?key=category1&cid=6be97e08267347c4a0aee7007b611530&ids=2ecb903c57d1452ebb1124a8f5f3302c&page=1}"> 照明控制 </a></h4>
                                <span>Lighting control</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
