<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="direction_about"  th:fragment="top">
    <div class="direction_small">
        <div class="img_dir">
            <img src="/images/关于我们3_03.png" alt="">
            <a href="javascript:void(0)" th:href="@{/solution?cid=788ff054c80e47d99c06c25aec945f4e&key=category1}">设计开发</a>
        </div>
        <div class="dir_content">
            <p>专注差异化的嵌入式产品解决方案  给定制MCU产品注入灵魂给予生命</p>
        </div>
    </div>
    <div class="direction_small">
        <div class="img_dir">
            <img src="/images/关于我们3_07.png" alt="">
            <a href="javascript:void(0)"  th:href="@{/products_list?cid=83cceabb688c46dbb57fe54f0c7aef3a&key=category1}">开发工具</a>
        </div>
        <div class="dir_content">
            <p>从全面的产品导入到强大技术支援服务  全程贴心伴随服务，创造无限潜能！</p>
        </div>
    </div>
    <div class="direction_small">
        <div class="img_dir">
            <img src="/images/关于我们3_11.png" alt="">
            <a href="javascript:void(0)"  th:href="@{/support}">技术支持</a>
        </div>
        <div class="dir_content">
            <p>嵌入式设计平台、应用开发工具提供  完善的开发代码案例库分享</p>
        </div>
    </div>
</div>
<div class="contact_about" th:fragment="top1">
    <div class="contact_small">
        <i class="material-icons">
            place
        </i>
        <a href="javascript:void(0)" th:href="@{/contact_place}">中国深圳市龙岗区坂田环城南路坂田国际中心C2栋815</a>
    </div>
    <div class="contact_small">
        <i class="material-icons">
            phone
        </i>
        <a href="javascript:void(0)" th:href="@{/contact}">4007-888-234</a>
    </div>
    <div class="contact_small">
        <i class="material-icons">
            email
        </i>
        <a href="javascript:void(0)" th:href="@{/contact}">enroo@enroo.com</a>
    </div>
</div>

</body>
</html>
