<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="direction_about"  th:fragment="left2">
    <div class="direction_small">
        <div class="img_dir">
            <img src="/images/sjkf22.png" alt="">
        </div>
        <div class="dir_content">
                <a href="javascript:void(0)" th:href="@{/solution_new/hzkf/category1}">设计开发</a>
            <p>专注差异化的嵌入式产品解决方案  给定制MCU产品注入灵魂给予生命</p>
        </div>
    </div>
    <div class="direction_small">
        <div class="img_dir">
            <img src="/images/jszc22.png" alt="">
        </div>
        <div class="dir_content">
                <a href="javascript:void(0)"  th:href="@{/products_list_new/dpjfzq/category1}">开发工具</a>
            <p>从全面的产品导入到强大技术支援服务  全程贴心伴随服务，创造无限潜能！ </p>
        </div>
    </div>
    <div class="direction_small">
        <div class="img_dir">
            <img src="/images/kfgj22.png" alt="">
        </div>
        <div class="dir_content">
                <a href="javascript:void(0)"  th:href="@{/customer_service_new/jszcfw/category1}">技术支持</a>
            <p>嵌入式设计平台、应用开发工具提供  完善的开发代码案例库分享 </p>
        </div>
    </div>
</div>
<div class="contact_about" th:fragment="left3">
    <div class="contact_small">
        <i class="material-icons">
            place
        </i>
        <a href="javascript:void(0)" th:href="@{/contact_new/dlwz/category1}">中国深圳市龙岗区坂田环城南路坂田国际中心C2栋815</a>
    </div>
    <div class="contact_small">
        <i class="material-icons">
            phone
        </i>
        <a href="javascript:void(0)" class="left_about_phone" th:href="@{/contact_new/lxfs/category1}">4007-888-234</a>
    </div>
    <div class="contact_small">
        <i class="material-icons">
            email
        </i>
        <a href="javascript:void(0)" th:href="@{/contact_new/lxfs/category1}">enroo@enroo.com</a>
    </div>
</div>

</body>
</html>
