<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="description" content="英瑞恩科技有限公司" />
    <title>solution_development</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/tab/style.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/enroo_about.css">
    <link rel="stylesheet" href="css/enroo_about_culture.css">
    <link rel="stylesheet" href="css/solution.css">
    <link rel="stylesheet" href="dist/autocomplete.css">
    <!--<link rel="stylesheet" href="dist/style.css">-->
    <link rel="stylesheet" href="css/media.css">
    <!-- <link rel="stylesheet" href="css/zy.css"> -->
</head>

<body>
    <section class="enroo_p_f p_f_0">
        <section class="enroo_top">
            <div class="container new_container">
                <div class="row a-center flex_header">
                    <div class="d_f left_header">
                        <div class="logo">
                            <a href="#">
                                <img src="images/logo2.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="right_header">
                        <div class="right_div_2">
                            <div class="input_search">
                                <div id="search-form"></div>
                                <a href="#" class="full_icon_search">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                            <div class="call_me">
                                <span>咨询热线：</span>
                                <span>4007-888-234</span>
                            </div>
                        </div>
                        <div class="right_div_1">
                            <div class="enroo_lan_div">
                                <a href="">阿里巴巴商铺</a>
                                <div>
                                    <a href="">中文</a>
                                    <span> | </span>
                                    <a href="">English</a>
                                </div>
                            </div>
                            <div class="enroo_keyword">
                                <div>单片机集成方案全方位解决服务商</div>
                                <div>优质智能电子产品"芯"方案提供商</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="enroo_nav">
            <div class="container new_container padd_0 navber_btn_height">
                <nav class="navbar navbar-expand-lg navbar-light flex_end">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-icons">reorder</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto kx-nav-flex">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link">网站首页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="abouts_c.html">关于我们</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="abouts_c.html">企业简介</a>
                                        </li>
                                        <li>
                                            <a href="about_culture.html">企业文化</a>
                                        </li>
                                        <li>
                                            <a href="about_development.html">发展历程</a>
                                        </li>
                                        <li>
                                            <a href="about_organization.html">组织架构</a>
                                        </li>
                                    </ul>
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">荣誉资质</a>
                                        </li>
                                        <li>
                                            <a href="about_notice.html">企业公告</a>
                                        </li>
                                        <li>
                                            <a href="about_activities.html">员工活动</a>
                                        </li>
                                        <li>
                                            <a href="about_Recruit.html">招贤纳士</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="products.html">产品中心</a>
                                <!--                                <div class="drop_down_list">
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                    </div>-->
                            </li>
                            <li class="nav-item actives">
                                <a class="nav-link" href="solution.html">方案设计</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">行业方案</a>
                                        </li>
                                        <li>
                                            <a href="#">产品应用</a>
                                        </li>
                                        <li>
                                            <a href="#">合作开发</a>
                                        </li>
                                        <li>
                                            <a href="#">公司方案</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="downloads.html">下载中心</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">EN单片机</a>
                                        </li>
                                        <li>
                                            <a href="#">RS放大器</a>
                                        </li>
                                        <li>
                                            <a href="#">方案芯片</a>
                                        </li>
                                        <li>
                                            <a href="#">开发工具</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="support.html">技术支持</a>
                                <!--                                <div class="drop_down_list">
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                    </div>-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="customer_service.html">客户服务</a>
                                <!--                                <div class="drop_down_list">
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                    </div>-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">联系我们</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="contact.html">联系我们</a>
                                        </li>
                                        <li>
                                            <a href="contact_place.html">地理位置</a>
                                        </li>
                                        <li>
                                            <a href="#">在线反馈</a>
                                        </li>
                                        <li>
                                            <a href="contact_join.html">友情链接</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">技术论坛</a>
                                <!--                                <div class="drop_down_list">
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                        <ul class="drop_down_ul">
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                            <li><a href="#">嗯哼？？？</a></li>
                                        </ul>
                                    </div>-->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </section>



    <section class="about_banner"></section>

    <section class="about_body p_tb_30_80">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="about_tab">
                        <div class="about_tab_title m-0">
                            <small>conceptual design</small>
                            <h2>方案设计</h2>
                        </div>
                        <div class="about_content_nav text-center">
                            <ul class="about_content_ul">
                                <li>
                                    <a href="solution.html">行业方案</a>
                                </li>
                                <li>
                                    <a href="solution_applications.html">产品应用</a>
                                </li>
                                <li class="active">
                                    <a href="solution_development.html">合作开发</a>
                                </li>
                                <li>
                                    <a href="solution_original_plan.html">公司方案</a>
                                </li>
                            </ul>
                        </div>
                        <div class="direction_about">
                            <div class="direction_small">
                                <div class="img_dir">
                                    <img src="images/关于我们3_03.png" alt="">
                                    <p>设计开发</p>
                                </div>
                                <div class="dir_content">
                                    <p>专业承接各类电子产品设计与开发硬件设计，主芯片编程等</p>
                                </div>
                            </div>
                            <div class="direction_small">
                                <div class="img_dir">
                                    <img src="images/关于我们3_07.png" alt="">
                                    <p>开发工具</p>
                                </div>
                                <div class="dir_content">
                                    <p>助力嵌入式系统应用设计提供工具选择及软件下载</p>
                                </div>
                            </div>
                            <div class="direction_small">
                                <div class="img_dir">
                                    <img src="images/关于我们3_11.png" alt="">
                                    <p>技术支持</p>
                                </div>
                                <div class="dir_content">
                                    <p>强大的技术支持，优质的合作伙伴提供精准的芯片选型指导、技术咨询</p>
                                </div>
                            </div>
                        </div>
                        <div class="contact_about">
                            <div class="contact_small">
                                <i class="material-icons">
                                    place
                                </i>
                                <p>中国深圳市龙岗区坂田环城南路坂田国际中心C2栋815</p>
                            </div>
                            <div class="contact_small">
                                <i class="material-icons">
                                    phone
                                </i>
                                <p>4007-888-234</p>
                            </div>
                            <div class="contact_small">
                                <i class="material-icons">
                                    email
                                </i>
                                <p>enroo@enroo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="bread">
                        <div class="bread_nav_title">
                            <h4>方案设计</h4>
                        </div>
                        <div class="bread_nav">
                            <ul class="bread_nav_ul">
                                <li class="nav_link_bread">
                                    <a href="#">单片机</a>
                                </li>
                                <li class="nav_link_bread">
                                    <a href="#">方案设计</a>
                                </li>
                                <li class="nav_link_bread">
                                    <a href="#">合作开发</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="about_main p_0">
                        <div class="solution_content">
                            <img src="images/solution_development.jpg" alt="" class="img-fluid">
                            <p class="solution_deve_p">我们专业承接各类电子产品设计与开发,硬件设计,主芯片编程,全方位的电子方案</p>
                            <p class="solution_deve_p">1.委托设计,合作开发项</p>
                            <p class="solution_deve_p">根据客户的实际要求专门设计，开发成完整的方案交付客户生产，并提供完整的技术服务支持；</p>
                            <p class="solution_deve_p">2.技术支持,应用指导</p>
                            <p class="solution_deve_p">发挥各自的优势，合作开发完成和量产并提供完整的技术服务支持，促成客户开发成功或量</p>
                            <p class="solution_deve_p">3.现有成熟方案提供,加快产品上市</p>
                            <p class="solution_deve_p">提供现成已有方案，供客户选择，按需进行方案整改。</p>
                            <p class="solution_deve_p">4.项目委托流程</p>
                            <p class="solution_deve_p">传真要求：请将贵公司项目委托的具体要求或产品具体功能传真或E-Mail给本公司</p>
                            <div class="form_solution">
                                <p class="form_solution_p">项目合作开发意向表</p>
                                <form>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label form_solution_label">公司名称:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="staticEmail" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword" class="col-sm-2 col-form-label form_solution_label">公司性质:</label>

                                        <div class="col-sm-10 form_solution_df">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                                    value="option1">
                                                <label class="form-check-label form_solution_label" for="inlineCheckbox1">制造</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                                    value="option2">
                                                <label class="form-check-label form_solution_label" for="inlineCheckbox2">研发</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                                    value="option2">
                                                <label class="form-check-label form_solution_label" for="inlineCheckbox2">方案提供</label>
                                            </div>
                                            <input type="text" class="form-control" id="inputPassword" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row df_center">
                                        <label for="staticEmail" class="col-sm-2 col-form-label form_solution_label">主要产品:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row df_center">
                                        <label for="staticEmail" class="col-sm-2 col-form-label form_solution_label">公司简介:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label form_solution_label">预计产量:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="staticEmail" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label form_solution_label">姓名:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="staticEmail" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label form_solution_label">部门:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="staticEmail" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label form_solution_label">公司:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="staticEmail" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label form_solution_label">电话:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="staticEmail" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label form_solution_label">传真:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="staticEmail" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label form_solution_label">E-mail:</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="staticEmail" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form_soltution_btn">
                                        <button type="button" class="btn btn-success">确认提交</button>
                                    </div>
                                </form>
                            </div>
                            <p class="solution_deve_p">我们专业承接各类电子产品设计与开发,硬件设计,主芯片编程,全方位的电子方案</p>
                            <p class="solution_deve_p">1.委托设计,合作开发项</p>
                            <p class="solution_deve_p">根据客户的实际要求专门设计，开发成完整的方案交付客户生产，并提供完整的技术服务支持；</p>
                            <p class="solution_deve_p">2.技术支持,应用指导</p>
                            <p class="solution_deve_p">发挥各自的优势，合作开发完成和量产并提供完整的技术服务支持，促成客户开发成功或量</p>
                            <p class="solution_deve_p">3.现有成熟方案提供,加快产品上市</p>
                            <p class="solution_deve_p">提供现成已有方案，供客户选择，按需进行方案整改。</p>
                            <p class="solution_deve_p">4.项目委托流程</p>
                            <p class="solution_deve_p">传真要求：请将贵公司项目委托的具体要求或产品具体功能传真或E-Mail给本公司</p>
                            <p class="solution_deve_p">我们专业承接各类电子产品设计与开发,硬件设计,主芯片编程,全方位的电子方案</p>
                            <p class="solution_deve_p">1.委托设计,合作开发项</p>
                            <p class="solution_deve_p">根据客户的实际要求专门设计，开发成完整的方案交付客户生产，并提供完整的技术服务支持；</p>
                            <p class="solution_deve_p">2.技术支持,应用指导</p>
                            <p class="solution_deve_p">发挥各自的优势，合作开发完成和量产并提供完整的技术服务支持，促成客户开发成功或量</p>
                            <p class="solution_deve_p">3.现有成熟方案提供,加快产品上市</p>
                            <p class="solution_deve_p">提供现成已有方案，供客户选择，按需进行方案整改。</p>
                            <p class="solution_deve_p">4.项目委托流程</p>
                            <p class="solution_deve_p">传真要求：请将贵公司项目委托的具体要求或产品具体功能传真或E-Mail给本公司</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="enroo_footer p_t_80_b_40">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>
                            <a href="#"> 关于我们 </a>
                        </h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">企业介绍</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">员工活动</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">使命价值观</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">荣誉资质</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">招聘职位</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>
                            <a href="#"> 产品中心 </a>
                        </h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">控制类芯片</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">模拟电器件</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">电源类芯片</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">开发工具</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">方案芯片</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>
                            <a href="#"> 新闻中心 </a>
                        </h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">企业公告</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">原厂咨询</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">新品推广</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">活动培训</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">业界动态</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">公司新闻</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>联系我们</h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">联系方式</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">地理位置</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">在线反馈</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 m_t_20 d-f-c">
                    <div class="footer_img text-center">
                        <div class="vrcode_all_div">
                            <div class="vrcode_div">
                                <img src="images/Chat.png" alt="" class="img-fluid">
                                <div class="content_footer">
                                    <p>关注公众号</p>
                                </div>
                            </div>
                            <div>
                                <img src="images/Chat.png" alt="" class="img-fluid">
                                <div class="content_footer">
                                    <p>关注公众号</p>
                                </div>
                            </div>
                        </div>
                        <img src="./images/foot_logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="friendly_link">
                <p>友情链接：
                    <a href="#"> 单片机 </a>
                    <a href="#">　单片机方案开发</a>
                    <a href="#">8位单片机　</a>
                    <a href="#">16位单片机　 </a>
                    <a href="#">深圳单片机开发公司　 </a>
                    <a href="#">单片机厂商 </a>
                    <a href="#">PIC单片机 </a>
                    <a href="#">单片机/处理器技术 </a>
                </p>
                <hr>
                <p>© 2008-2018 深圳市英锐恩科技有限公司 版权所有 粤ICP备09008620号</p>
            </div>
        </div>
    </footer>

    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="css/tab/jjs_jquery-1.10.2.min.js"></script>
    <script src="css/tab/jjs_menu_min.js"></script>
    <script type="text/javascript" src="dist/autocomplete.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".menu ul li").menu();
        });
    </script>
    <script type="text/javascript">
        var proposals = ['百度1', '百度2', '百度3', '百度4', '百度5', '百度6', '百度7', '呵呵呵呵呵呵呵', '百度', '新浪', 'a1', 'a2', 'a3', 'a4',
            'b1', 'b2', 'b3', 'b4', '?????'
        ];
        $(document).ready(function () {
            $('#search-form').autocomplete({
                hints: proposals,
                width: 300,
                height: 30,
                placeholder: "全站搜索 / 产品搜索"
                // onSubmit: function (text) {
                //     $('#message').html('Selected: <b>' + text + '</b>');
                // }
            });
        });
    </script>

</body>

</html>