<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="description" content="英瑞恩科技有限公司" />
    <title>about_downloads</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/tab/style.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/enroo_about.css">
    <link rel="stylesheet" href="css/download.css">
    <link rel="stylesheet" href="css/solution.css">
    <link rel="stylesheet" href="css/support.css">
    <!--<link rel="stylesheet" href="css/enroo_about_culture.css">-->
    <link rel="stylesheet" href="dist/autocomplete.css">
    <!--<link rel="stylesheet" href="dist/style.css">-->
    <link rel="stylesheet" href="css/media.css">
    <!-- <link rel="stylesheet" href="css/zy.css"> -->
</head>

<body>
    <section class="enroo_p_f p_f_0">
        <section class="enroo_top">
            <div class="container new_container">
                <div class="row a-center flex_header">
                    <div class="d_f left_header">
                        <div class="logo">
                            <a href="#">
                                <img src="images/logo2.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="right_header">
                        <div class="right_div_2">
                            <div class="input_search">
                                <div id="search-form"></div>
                                <a href="#" class="full_icon_search">
                                    <i class="material-icons">search</i>
                                </a>
                            </div>
                            <div class="call_me">
                                <span>咨询热线：</span>
                                <span>4007-888-234</span>
                            </div>
                        </div>
                        <div class="right_div_1">
                            <div class="enroo_lan_div">
                                <a href="">阿里巴巴商铺</a>
                                <div>
                                    <a href="">中文</a>
                                    <span> | </span>
                                    <a href="">English</a>
                                </div>
                            </div>
                            <div class="enroo_keyword">
                                <div>单片机集成方案全方位解决服务商</div>
                                <div>优质智能电子产品"芯"方案提供商</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="enroo_nav">
            <div class="container new_container padd_0 navber_btn_height">
                <nav class="navbar navbar-expand-lg navbar-light flex_end">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-icons">reorder</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto kx-nav-flex">
                            <li class="nav-item">
                                <a href="#" class="nav-link">网站首页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">关于我们</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">企业简介</a>
                                        </li>
                                        <li>
                                            <a href="#">企业文化</a>
                                        </li>
                                        <li>
                                            <a href="#">发展历程</a>
                                        </li>
                                        <li>
                                            <a href="#">组织架构</a>
                                        </li>
                                    </ul>
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">荣誉资质</a>
                                        </li>
                                        <li>
                                            <a href="#">企业公告</a>
                                        </li>
                                        <li>
                                            <a href="#">员工活动</a>
                                        </li>
                                        <li>
                                            <a href="#">招贤纳士</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">产品中心</a>
                                <!--                                <div class="drop_down_list">
                                                        <ul class="drop_down_ul">
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                        </ul>
                                                        <ul class="drop_down_ul">
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                        </ul>
                                                    </div>-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">方案设计</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">行业方案</a>
                                        </li>
                                        <li>
                                            <a href="#">产品应用</a>
                                        </li>
                                        <li>
                                            <a href="#">合作开发</a>
                                        </li>
                                        <li>
                                            <a href="#">公司方案</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">下载中心</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">EN单片机</a>
                                        </li>
                                        <li>
                                            <a href="#">RS放大器</a>
                                        </li>
                                        <li>
                                            <a href="#">方案芯片</a>
                                        </li>
                                        <li>
                                            <a href="#">开发工具</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item actives">
                                <a class="nav-link" href="#">技术支持</a>
                                <!--                                <div class="drop_down_list">
                                                        <ul class="drop_down_ul">
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                        </ul>
                                                        <ul class="drop_down_ul">
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                        </ul>
                                                    </div>-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">客户服务</a>
                                <!--                                <div class="drop_down_list">
                                                        <ul class="drop_down_ul">
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                        </ul>
                                                        <ul class="drop_down_ul">
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                        </ul>
                                                    </div>-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">联系我们</a>
                                <div class="drop_down_list">
                                    <ul class="drop_down_ul">
                                        <li>
                                            <a href="#">联系我们</a>
                                        </li>
                                        <li>
                                            <a href="#">地理位置</a>
                                        </li>
                                        <li>
                                            <a href="#">在线反馈</a>
                                        </li>
                                        <li>
                                            <a href="#">友情链接</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">技术论坛</a>
                                <!--                                <div class="drop_down_list">
                                                        <ul class="drop_down_ul">
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                        </ul>
                                                        <ul class="drop_down_ul">
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                            <li><a href="#">嗯哼？？？</a></li>
                                                        </ul>
                                                    </div>-->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </section>



    <section class="about_banner"></section>

    <section class="about_body p_tb_30_80">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside>
                        <section class="met_aside">
                            <div class="about_tab_title">
                                <small>Technical support</small>
                                <h2>技术支持</h2>
                            </div>
                            <div id="content">
                                <div class="menu">
                                    <ul>
                                        <li>
                                            <a class="active inactive">连接论坛</a>
                                            <ul>
                                                <li>
                                                    <a href="http://www.enroobbs.com/forum.php">连接论坛</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active inactive">产品型号、 开发工具选型</a>
                                            <ul>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/383.aspx">EN单片机选型手册</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/384.aspx">模拟产品与接口电路展示</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/385.aspx">开发工具选型支持</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active inactive">单片机入门与开发</a>
                                            <ul>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/386.aspx">单片机入门知识</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/387.aspx">单片机提高篇</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/388.aspx">单片机应用技巧及常见问题</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/389.aspx">PIC单片机入门教程</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/390.aspx">Micon,MDT麦肯指令表</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/391.aspx">常用电路设计</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/392.aspx">电子制作大全</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/393.aspx">电磁干扰、电磁兼容及认证知识</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/394.aspx">LED资料应用</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active inactive">单片机应用技巧及问题集锦</a>
                                            <ul>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/395.aspx">Micorchip产品参考方案</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/396.aspx">Micorchip应用技巧</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/397.aspx">Microchip单片机移植资料</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/398.aspx">麦肯单片机应用技巧</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/399.aspx">麦肯单片机差异表</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active inactive">经典方案实例代码</a>
                                            <ul>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/400.aspx">汇编语言教程与范例</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/401.aspx">C语言教程与范例</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/402.aspx">单片机程式应用实例</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/403.aspx">Microchip经典案例程式</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/404.aspx">Microchip软件库</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/405.aspx">Microchip代码示例</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/406.aspx">Microchip嵌入式源代码</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/407.aspx">麦肯单片机经典案例程式</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active inactive">电子工程师经验汇总</a>
                                            <ul>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/408.aspx">电子产品经验交流汇总</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active inactive">常见相关问题解答案例</a>
                                            <ul>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/409.aspx">技术相关问题解答案例</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/410.aspx">业务相关问题解答案例</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/411.aspx">PIC单片机使用注意事项</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/412.aspx">工具使用方面技术解答</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active inactive">培训资料、各种入门资料</a>
                                            <ul>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/413.aspx">Microchip</a>
                                                </li>
                                                <li>
                                                    <a href="http://www.enroo.com/column/5/414.aspx">麦肯 Micon</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active inactive">合作常用文档表格下载</a>
                                            <ul>
                                                <li>
                                                    <a href="/Column/4/366.aspx">常用文档表格下载</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active inactive">常见问题及解答</a>
                                            <ul>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>


                    </aside>
                    <div class="direction_about">
                        <div class="direction_small">
                            <div class="img_dir">
                                <img src="images/关于我们3_03.png" alt="">
                                <p>设计开发</p>
                            </div>
                            <div class="dir_content">
                                <p>专业承接各类电子产品设计与开发硬件设计，主芯片编程等</p>
                            </div>
                        </div>
                        <div class="direction_small">
                            <div class="img_dir">
                                <img src="images/关于我们3_07.png" alt="">
                                <p>开发工具</p>
                            </div>
                            <div class="dir_content">
                                <p>助力嵌入式系统应用设计提供工具选择及软件下载</p>
                            </div>
                        </div>
                        <div class="direction_small">
                            <div class="img_dir">
                                <img src="images/关于我们3_11.png" alt="">
                                <p>技术支持</p>
                            </div>
                            <div class="dir_content">
                                <p>强大的技术支持，优质的合作伙伴提供精准的芯片选型指导、技术咨询</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact_about">
                        <div class="contact_small">
                            <i class="material-icons">
                                place
                            </i>
                            <p>中国深圳市龙岗区坂田环城南路坂田国际中心C2栋815</p>
                        </div>
                        <div class="contact_small">
                            <i class="material-icons">
                                phone
                            </i>
                            <p>4007-888-234</p>
                        </div>
                        <div class="contact_small">
                            <i class="material-icons">
                                email
                            </i>
                            <p>enroo@enroo.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="bread">
                        <div class="bread_nav_title">
                            <h4>技术支持</h4>
                        </div>
                        <div class="bread_nav">
                            <ul class="bread_nav_ul">
                                <li class="nav_link_bread">
                                    <a href="#">单片机</a>
                                </li>
                                <li class="nav_link_bread">
                                    <a href="#">技术支持</a>
                                </li>
                                <li class="nav_link_bread">
                                    <a href="#">正文</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="download_content">
                        <div class="support_detail_title">
                            <h1>EN单片机芯片选型问题—深圳单片机开发方案公司</h1>
                            <div class="display_f">
                                <span>点击次数: 57次</span>
                                <span>更新时间: 2018-10-30</span>
                            </div>
                        </div>
                        <div class="support_detail_body">
                            <p>
                                深圳单片机开发方案公司英锐恩解答EN单片机芯片选型问题。英锐恩推出的单片机芯片没必要过度包装，以下是如实的解答。根据深圳单片机开发方案公司英锐恩的总结，客户对单片机芯片自带资源、可扩展资源、功耗、封装、芯片的可延续性及技术的可继承性、开发工具、价格及供货保证、还有技术支持等这是个方面比较在意，下边英锐恩为您解答。
                            </p>
                            <img src="images/enheng.png" alt="" class="img-fluid">
                            <p>
                                1. 单片机芯片的自带资源。
                            </p>
                            <p>
                                工作电压是多少？有多少个I/O口？自带哪些接口？是否有外部存储接口？以上都涉及单片机芯片资源的问题，微处理器自带什么样的资源是选型的一个重要考虑因素。这些都是可以通过英锐恩推出的单片机选型表上可以看到。当然英锐恩的业务员会根据用户的需求推荐适合的单片机芯片。芯片自带资源越接近产品的需求，产品开发相对就越简单。
                            </p>
                            <p>
                                2.可扩展资源
                            </p>
                            <p>
                                英锐恩有推出有内置RAM和ROM的EN系列8位单片机芯片，但其容量ROM在0.5K-4.0,ROM在41-256bytes。如果运行OS一般都是兆级以上的就要求芯片可扩展存储器。
                            </p>
                            <p>3.单片机功耗</p>
                            <p>低功耗的产品即节能又节财，减少环境污染，增加可靠性，它有如此多的优点，因此低功耗也成了芯片选型时的一个重要指标。英锐恩推出的单片机芯片具有低功耗的特点。</p>
                            <p>4. 封装</p>
                            <p>常见的微处理器芯片封装主要有DIP、SOP等。如果产品对芯片体积要求严格，选型小体积封装。英锐恩推出的单片机芯片封装有DIP、SOP、DFN等多样封装，满足市场的多样需求</p>
                            <img src="images/enheng.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="enroo_footer p_t_80_b_40">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>
                            <a href="#"> 关于我们 </a>
                        </h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">企业介绍</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">员工活动</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">使命价值观</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">荣誉资质</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">招聘职位</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>
                            <a href="#"> 产品中心 </a>
                        </h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">控制类芯片</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">模拟电器件</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">电源类芯片</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">开发工具</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">方案芯片</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>
                            <a href="#"> 新闻中心 </a>
                        </h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">企业公告</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">原厂咨询</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">新品推广</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">活动培训</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">业界动态</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">公司新闻</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-1 m_t_20 col-6-center">
                    <div class="footer_tab">
                        <h3>联系我们</h3>
                        <ul>
                            <li>
                                <a href="#" class="footer_link">联系方式</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">地理位置</a>
                            </li>
                            <li>
                                <a href="#" class="footer_link">在线反馈</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 m_t_20 d-f-c">
                    <div class="footer_img text-center">
                        <div class="vrcode_all_div">
                            <div class="vrcode_div">
                                <img src="images/Chat.png" alt="" class="img-fluid">
                                <div class="content_footer">
                                    <p>关注公众号</p>
                                </div>
                            </div>
                            <div>
                                <img src="images/Chat.png" alt="" class="img-fluid">
                                <div class="content_footer">
                                    <p>关注公众号</p>
                                </div>
                            </div>
                        </div>
                        <img src="./images/foot_logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="friendly_link">
                <p>友情链接：
                    <a href="#"> 单片机 </a>
                    <a href="#">　单片机方案开发</a>
                    <a href="#">8位单片机　</a>
                    <a href="#">16位单片机　 </a>
                    <a href="#">深圳单片机开发公司　 </a>
                    <a href="#">单片机厂商 </a>
                    <a href="#">PIC单片机 </a>
                    <a href="#">单片机/处理器技术 </a>
                </p>
                <hr>
                <p>© 2008-2018 深圳市英锐恩科技有限公司 版权所有 粤ICP备09008620号</p>
            </div>
        </div>
    </footer>

    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="css/tab/jjs_jquery-1.10.2.min.js"></script>
    <script src="css/tab/jjs_menu_min.js"></script>
    <script type="text/javascript" src="dist/autocomplete.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".menu ul li").menu();
        });
    </script>
    <script type="text/javascript">
        var proposals = ['百度1', '百度2', '百度3', '百度4', '百度5', '百度6', '百度7', '呵呵呵呵呵呵呵', '百度', '新浪', 'a1', 'a2', 'a3', 'a4',
            'b1', 'b2', 'b3', 'b4', '?????'
        ];
        $(document).ready(function () {
            $('#search-form').autocomplete({
                hints: proposals,
                width: 300,
                height: 30,
                placeholder: "全站搜索 / 产品搜索"
                // onSubmit: function (text) {
                //     $('#message').html('Selected: <b>' + text + '</b>');
                // }
            });
        });
    </script>

</body>

</html>